:root {
  --color: #210f37;
  --background-color: #4f1c51;
  font-size: 16px;
  text-align: center;
  color: white;
}

h1 {
  background-color: var(--color);
  color: white;
  margin: 0;
  padding: 1.25rem 0;
  opacity: 1;
}

h2 {
  margin: 1.25rem 0;
}

.highlight {
  color: var(--background-color);
}

main {
  padding: 1.25rem 0;
  background-color: var(--background-color);
  height: 45rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App {
  display: grid;
  grid-template-areas: "a a";
  z-index: 5;
  margin: 0 15rem;
}

